h1,h2,h3,h4,h5,h6,body,p {
  line-height: 1.57;
  letter-spacing: 0.15em;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  padding: 5px 0;
  margin: 0 5px;
}

header {
  font-family: 游ゴシック/游ゴシック体;
  border-bottom: 1px solid black;
  
  }

body {
  background-color:papayawhip;
  font-size: 16px;
  color: #333;
  
}

.theme {
  font-size: 25px;
  margin-left: 10px;
}

.title2 {
   display: flex;
}

.delete {
  font-size: 12px;
  margin: 12px 0 0 10px;
}

.show {
  margin: 7px 5px 0 7px;
}

.end {
  flex-direction: column;
}

a { text-decoration: none;
  color: #666
}

.new { border-bottom:1px solid black;}