h1,h2,h3,h4,h5,h6,body,p {
  line-height: 1.57;
  letter-spacing: 0.15em;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  padding: 5px 0;
  margin: 0 5px;
}

header {
  font-family: 游ゴシック/游ゴシック体;
  border-bottom: 1px solid black;
  margin-left: 5px;
  }

body {
  background-color:papayawhip;
  font-size: 16px;
  color: #333;
  
}

.life {
  font-size: 22px;
  margin-left: 10px;
}

.work {
   display: flex;
}

.delete {
  font-size: 12px;
  margin: 12px 0 0 10px;
}

.show {
  margin: 7px 5px 0 7px;
}

.end {
  flex-direction: column;
}

a { text-decoration: none;
  color: #666
}

.new { border-top:1px solid black;
  margin-top: 2%;
  padding: 5px 5px;
}

.routine{
  border-top:1px solid black;
  margin-top: 2%;
  padding: 5px 5px;
  display: flex;
}

.btn {
  border: solid 1px black;
  border-radius: 4px;
  background-color: whitesmoke;
  margin: 7px 0 ;
  padding: 4px 2px 3px 6px;
}

.routines {
  margin: 5px 0 0 20px;
}
.routines-new{
  height: 800px;
  display: flex;
}

.routines-title{
  height: 30px;
  width: 300px;
}
.calendar-select{
  height: 20px;
  width: 308px;
  margin-top: 10px;
  display: block;
}

.routine-btn{
  display: block;

}

.routine-index{
  display: block;
}

